
.icon-comment:before { content: '\e800'; } /* '' */
.icon-comment-2:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-gear:before { content: '\e803'; } /* '' */
.icon-list:before { content: '\e804'; } /* '' */
.icon-mark:before { content: '\e805'; } /* '' */
.icon-sort:before { content: '\e806'; } /* '' */
.icon-watch:before { content: '\e807'; } /* '' */
.icon-arrow:before { content: '\e808'; } /* '' */
.icon-arrow-right:before { content: '\e809'; } /* '' */
.icon-ready:before { content: '\e80a'; } /* '' */
.icon-times-circle:before { content: '\e80b'; } /* '' */
.icon-fcheck-circle:before { content: '\e80c'; } /* '' */
.icon-lock:before { content: '\e828'; } /* '' */
.icon-eye:before { content: '\e829'; } /* '' */
.icon-user:before { content: '\e82a'; } /* '' */
