
.icon-arrow-right:before { content: '\e800'; } /* '' */
.icon-arrow:before { content: '\e801'; } /* '' */
.icon-watch:before { content: '\e804'; } /* '' */
.icon-mark:before { content: '\e805'; } /* '' */
.icon-sort:before { content: '\e806'; } /* '' */
.icon-close-1:before { content: '\e807'; } /* '' */
